In [1]:
import numpy as np
import pandas as pd

In [3]:
data = {
    "height" : [6.0,6.4,5.8,5.9,5.7,5.11,5.9,5.10,6.2,5.8,5.4,5.6,5.2,5.0,5.1,5.4,5.3,4.9,4.8,5.1],
    "weight" : [80,89,70,72,66,73,69,73,81,70,56,58,51,49,60,52,48,49,53,58],
    "gender" : ['m','m','m','m','m','m','m','m','m','m','f','f','f','f','f','f','f','f','f','f',]
}

In [4]:
df = pd.DataFrame(data)

In [5]:
df.head()

   height  weight gender
0     6.0      80      m
1     6.4      89      m
2     5.8      70      m
3     5.9      72      m
4     5.7      66      m

In [8]:
male_count = df['gender'].value_counts()['m']
female_count = df['gender'].value_counts()['f']

In [9]:
total_obs = len(df)
prob_male = male_count/total_obs
prob_female = female_count/total_obs

In [11]:
mean = df.groupby('gender').mean()

In [12]:
var = df.groupby('gender').var()

In [13]:
mean

        height  weight
gender
f        5.180    53.4
m        5.791    74.3

In [14]:
var

          height     weight
gender
f       0.061778  18.711111
m       0.172810  48.455556

In [15]:
male_mean_height = mean['height'][1]
male_var_height = var['height'][1]

male_mean_weight = mean['weight'][1]
male_var_weight = var['weight'][1]

In [16]:
female_mean_height = mean['height'][0]
female_var_height = var['height'][0]

female_mean_weight = mean['weight'][0]
female_var_weight = var['weight'][0]

In [18]:
def likelihood(x,mean,var):
    return (1 / (np.sqrt(2 * np.pi * var))) * (np.exp(-((x - mean) ** 2) / (2*var)))

In [27]:
tempdf = pd.DataFrame({"height":[5.3],"weight":[57]})

In [28]:
tempdf

   height  weight
0     5.3      57

In [31]:
male_pred = prob_male * likelihood(tempdf['height'],male_mean_height,male_var_height) * likelihood(tempdf['weight'],male_mean_weight,male_var_weight)

In [32]:
female_pred = prob_female * likelihood(tempdf['height'],female_mean_height,female_var_height) * likelihood(tempdf['weight'],female_mean_weight,female_var_weight)

In [39]:
if male_pred[0] > female_pred[0]:
    print("Male")
else:
    print("Female")

Female