In [8]:
import bs4
import urllib.request as url
import pandas as pd

In [6]:
path = "https://www.flipkart.com/mi-led-smart-tv-4a-pro-108-cm-43-android/p/itmfbzck4mhggxxg?pid=TVSFBZCKAVGCUCME&srno=s_1_2&otracker=search&otracker1=search&lid=LSTTVSFBZCKAVGCUCMEWJYUMP&fm=SEARCH&iid=7882e015-9cbd-46bd-b38f-be83eece447a.TVSFBZCKAVGCUCME.SEARCH&ppt=sp&ppn=sp&ssid=7ll22njl8w0000001563268809733&qH=c9a1fdac6e082dd8"

In [21]:
http = url.urlopen(path)
page = bs4.BeautifulSoup(http)
a_tags = page.find("div", class_='col _39LH-M').find_all('a')
href = a_tags[-1]['href']
reviews = []
ratings = []
for i in range(10):
    newPath = "https://www.flipkart.com"+href+'&page={}'.format(i+1)
    http_2 = url.urlopen(newPath)
    page_2 = bs4.BeautifulSoup(http_2)
    parentDivList = page_2.find_all('div', class_='qwjRop')
    ratingList = page_2.find_all("div", class_='hGSR34 E_uFuv')
    for i in range(len(ratingList)):
        reviews.append(parentDivList[i].find_all("div")[1].text)
        ratings.append(float(ratingList[i].text))
#         print(parentDivList[i].find_all("div")[1].text)
#         print("Rating :",ratingList[i].text)
#         print("--------------------------")
#     print()

In [22]:
data = {
    "review":reviews,
    "rating":ratings
}

In [23]:
df = pd.DataFrame(data)

In [24]:
df.shape

(81, 2)

In [25]:
df.head()

                                              review  rating
0  Awesome product. Value for money. Not sure abo...     4.0
1  super tv value for money super products tq fli...     5.0
2  Awsome TV.. was very concern lke how would be ...     4.0
3  it very nice mi tv good condition valuable for...     5.0
4             Good led In this Price range go for it     4.0

In [26]:
df.describe()

          rating
count  81.000000
mean    4.604938
std     0.605785
min     3.000000
25%     4.000000
50%     5.000000
75%     5.000000
max     5.000000